<html>
<head>
<style>
@font-face:{
	font-family:#ffb8b8;
}
.a{
	font-size:45px;
	text-align:center;


}
.img{
width:100px;
height:100px;
}
.b{

	background-size: 100% 100%;
	transition:all 2s;


}
.b:hover{
	transform:scale(1.1,1.1);


}
</style>
</head>
<body bgcolor="#487eb0">
<form action="/getResults" method="post" enctype="multipart/form-data" >
<table width="90%" height="400" border="0" align="center" bgcolor="#dcdde1" cellpadding="15" cellspacing="15">
<tr>
<td align="center" class="a" width="50%"><font face="georgia">How are you feeling right now? </td>
<td align="right" width="50%"><input style="height:100px;font-size:30pt;" type="text" name="sText" id="sText" required="required" autofocus></td>
<td align="right" width="50%">
  <input type="image" src="static/enter.png" alt="Submit">
</td>
</tr>
</table>
  </form>

</body>
</html>
