<html>
<head>
<style>
<script src="//static.miniclipcdn.com/js/game-embed.js"></script>
@font-face:{
	font-family:#ffb8b8;
}
.a{
	font-size:45px;
	text-align:center;
	

}
.img{
width:100px;
height:100px;
}
.b{

	background-size: 100% 100%;
	transition:all 2s;


}
.b:hover{
	transform:scale(1.1,1.1);


}
</style>
</head>
<form action="/level3" method="get">
	<body bgcolor="#487eb0">
	<table width="90%" height="400" border="0" align="center" bgcolor="#dcdde1" cellpadding="15" cellspacing="15">
	<tr>
	<td align="center" class="a" width="50%"><font face="georgia">UH OH! Play this game to calm down...</td>
	<td align="right" width="50%">
	<p style="text-align:center;"><img src="static/controller.png"></p><a href="level5.html"><img src="static/arrow.png" width="60%" height="200" class="c"></td>
	<td>
	</table>

</form>
</body>
</html>
